<mat-paginator
  [length]="taskResource.value()?.totalCount"
  [pageSize]="PAGE_SIZE"
  (page)="handlePageEvent($event)"
  [hidePageSize]="true"
  [showFirstLastButtons]="true" />

<section>
  <!-- the list of tasks I got back from the server, tells Angular
  how to identify each item in the loop  -->
  @for (task of taskResource.value()?.data; track task.id) {
  <div>
    <!-- html created for each task -->
    <h2>{{task.title}}</h2>
    <p>{{task.description}}</p>
  </div>
  }
</section>

@if (taskResource.error()) {
<p>Failed to retrieve tasks. Please try again.</p>
<p>{{taskResource.error()?.message}}</p>
<button (click)="taskResource.refresh()">Refresh</button>
} @if (taskResource.isLoading()) {
<div class="shade">
  <mat-spinner />
</div>
}
